.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .updateButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: orange;
    border: 1px dotted rgba(239, 141, 21, 0.59);
    cursor: pointer;
  }

  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
}